/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,800&display=swap');

/* Variables */
:root {
  --light-text: #ffffff;
  --dark-text: #252525;
  --score-text: #656565;
  --outline: #ffffff;
  --bg-grad-1: #8CC461;
  --bg-grad-2: #8CC461;
  --scissors-1: #BD00FF;
  --scissors-2: #BD00FF;
  --paper-1:#FFA943;
  --paper-2: #FFA943;
  --rock-1: #0074B6;
  --rock-2: #0074B6;
  --shadow-light: #00000026;
  --shadow-med: #0000004d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(at top, var(--bg-grad-1), var(--bg-grad-2));
  min-height: 100vh;
  text-transform: uppercase;
  color: var(--light-text);
  overflow-y: hidden;
}

/* Main Content */
.container {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  border: 3px solid var(--outline);
  border-radius: 20px;
  padding: 1em 1em 1em 2em;
}

.game-name{
  
  font-size: x-large;
  letter-spacing: 5px;
  font-weight:600;
  font-family: 'Roboto Flex', sans-serif;
 
}

.score1 {
  position: relative;
  display: flex;
  left: 130px;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  width: 160px;
  height: 130px;
  line-height: 1;
  margin-bottom: 0.1px; /* Decreased margin between score boxes */
  text-align: center;
}
.score2{
  display: flex;
  
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  width: 160px;
  height: 130px;
  line-height: 1;
  margin-bottom: 0.1px; /* Decreased margin between score boxes */
  text-align: center;
}

.score__title {
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: var(--score-text);
  padding-top: 10px;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 600;
}

.score__number1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-text);
}
.score__number2 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-text);
}


/* Game */
.game {
  position: relative;
  display: grid;
  grid-template-columns: (repeat(2, 1fr));
  grid-template-areas:
    "paper scissors"
    "rock rock";
  place-items: center;
  height: 30rem;
  padding: 0 4rem 0 0;
  margin-top: 80px;
}
.game::before {
  content: "";  
  position: absolute;
  width: 100%;
  height: 100%;
  left: 29%;
  top: 25%;
  background: url("./images/bg-triangle.svg") no-repeat;
  z-index: -1;
  
}

.choice-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.choice {
  position: relative;
  width: 10rem;
  height: 10rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: inset 0 0.5rem var(--shadow-light);
}
.choice::before,
.choice::after {
  content: "";
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;
}

.choice::after {
  opacity: 0;
  transition: opacity 0.4s ease;

}
.choice-btn:focus .choice::after {
  opacity: 1;
  box-shadow: 0 0 0 2rem rgb(177, 104, 186);
  z-index: -2;
}

.choice img {
  transform: scale(1.5);
}

.choice.paper::before {
  background: linear-gradient(to bottom, var(--paper-1), var(--paper-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--paper-2);
}
.choice.scissors::before {
  background: linear-gradient(to bottom, var(--scissors-1), var(--scissors-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--scissors-2);
}
.choice.rock::before {
  background: linear-gradient(to bottom, var(--rock-1), var(--rock-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--rock-2);
}

.choice-btn[data-choice="paper"] {
  grid-area: paper;
}
.choice-btn[data-choice="scissors"] {
  grid-area: scissors;
}
.choice-btn[data-choice="rock"] {
  grid-area: rock;
}

/* Results */
.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-template-areas:
    "you-title ai-title"
    "you-picked ai-picked";
  max-width: 1000px;
  margin: 0 auto;
}

.results__heading {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 4rem 0 8rem;
  font-weight:600;
  font-family: 'Roboto Flex', sans-serif;
}
.results__result {
  min-width: 10rem;
  min-height: 10rem;
  background: #16213d;
  border-radius: 50%;
  transform: scale(0.8);
  z-index: -1;
}

.results__heading:first-of-type {
  grid-area: you-title;
}
.results__heading:last-of-type {
  grid-area: ai-title;
}
.results__result:first-of-type {
  grid-area: you-picked;
}
.results__result:last-of-type {
  grid-area: ai-picked;
}

.results.show-winner {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "you-title . ai-title"
    "you-picked result-winner ai-picked";
}

.winner .choice::after {
  box-shadow:0 0 0 40px #2E9A25, 0 0 0 80px #41ab37, 0 0 0 120px #7bba4b;
  animation: winner 1s ease forwards;
}

@keyframes winner {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.results__winner {
  grid-area: result-winner;
  display: grid;
  place-items: center;
}
.results__text {
  font-size: 3em;
  padding-bottom: 1.5rem;
  font-weight:800;
  font-family: 'Roboto Flex', sans-serif;
}
.play-again {
  background: #fff;
  outline: none;
  border: 3px solid transparent;
  border-radius: 0.6rem;
  color: #6B6B6B;
  padding: 0.6rem 1.1rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-weight:600;
  font-family: 'Roboto Flex', sans-serif;
}
.play-again:focus {
  border: 2px solid var(--outline);
}


 /* Rules Button */
 .rules-btn {
  position: absolute;
  bottom: 50px;
  right: 50px;
  background: none;
  outline: none;
  border: 2px solid var(--outline);
  border-radius: 0.6rem;
  color: var(--light-text);
  padding: 0.6rem 2.5rem;
  font-weight:600;
  font-family: 'Roboto Flex', sans-serif;
  text-transform:inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  
}

/* Rules Modal */ 
.modal {
  position: fixed; 
  bottom: 170px;
  right: 60px;
  width: 430px;
  height: 500px;
  display:grid;
  place-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
   
} 

.modal__container {
  background: #004429;
  border-radius: 0.5rem;
  border: 10px solid white;
}
.modal__header {
  
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem 0rem 0rem;
}
.modal__heading {
  position: relative;
  font-size: 40px;
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
} 

.rules-list{
  text-align:inherit;
  font-size:medium;
  padding: 0 20px;
  text-transform: initial;
  text-transform: capitalize;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
}
.rules-list li {

list-style-type: none; /* Remove default list-style */
position: relative; /* Add positioning context */
padding-left: 20px; /* Add padding to create space for the square bullet */
}

.rules-list li::before {
content: ""; /* Add pseudo-element content */
position: absolute; /* Position the square bullet */
top: 6px; /* Adjust vertical position as needed */
left: 0;
width: 10px; /* Adjust the size of the square bullet */
height: 10px;
background-color: #FFD600; /* Set the color of the square bullet */
}


.close-btn {
  position: relative;
  border: none;
  outline: none;
  background: red;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  border-radius: 50%; /* Make the background circular */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  bottom: 466px;
  left: 385px;
}

.close-btn img {
  height: 2rem;
  width: 2rem;
}

.show-modal {
  opacity: 1;
  pointer-events: initial;
}


.Bnext {
  display: none;
  position: absolute;
  bottom: 50px;
  right: 16%;
  background: none;
  outline: none;
  border: 2px solid var(--outline);
  border-radius: 0.6rem;
  color: var(--light-text);
  padding: 0.6rem 2.9rem;
  font-weight:600;
  font-family: 'Roboto Flex', sans-serif;
  text-transform:inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  
}


.you-win{
  position: relative;
  align-items: center;
  color: white;
  left: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 95%;
}

.against-pc
{
  position: relative;
  color: white;
  left: 60px;
  font-size: 60%;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  bottom: 15px;
}
/* Utilities */
.preload * {
  transition: none;
}

.hidden {
  display: none;
}
